//******************** Mixin ********************/
@import '_mixin';


//******************** Media **************************************************************/
//*****************************************************************************************/
@media screen and (max-width: 1200px) {

}


@media screen and (max-width: 992px) {
  .wrapper{
    .wrapper_container{
      .sidebar{
        aside{}
      }

      .content{
        header{
          padding-top: 20px;

          .logo_header{
            flex-direction: column-reverse;
            align-items: flex-start;

            .logo_header_left{
              padding-top: 15px;
            }
          }
        }

        main{}
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .wrapper{
    .wrapper_container{
      flex-direction: column;

      .content{
        margin-left: 0px;
      }

      .sidebar{
        position: fixed;
        margin-top: 154px;
        min-width: 100%;
        flex: auto;
        top: auto;
        min-height: auto;

        aside{
          @include transition(all .25s ease .3s);

          .profile{
            #indicator{
              display: block;
            }
          }

          .together:not(.show){
            @include transition(all ease .3s);
            position: fixed;
            z-index: 2;
            right: -100%;
            width: 100%;
          }

          .together.show{
            @include transition(all ease .3s);
            position: fixed;
            z-index: 2;
            right: 0;
            width: 100%;
            background-color: #000000;
          }
        }
      }

      .content{
        header{
          position: fixed;

          .logo_header{}
        }

        main{
          margin-top: 352px;
        }
      }
    }
  }
}


@media screen and (max-width: 576px) {
  .wrapper{
    .wrapper_container{

      .sidebar{
        margin-top: 120px;
        position: fixed;
        min-width: 100%;
        flex: auto;

        aside{
          .projectus_list{

            #burger_container{
              display: inline-block;
              z-index: 1;

              #burger_menu{
                cursor: pointer;
                position: relative;
                z-index: 999;

                .line1, .line2, .line3 {
                  width: 30px;
                  height: 3px;
                  background-color: #ffffff;
                  margin: 6px 0;
                  @include transition(0.3s);
                }

                &:hover {
                  .line1, .line2, .line3 {
                    background-color: #ffc200;
                  }
                }

                &.change .line1 {
                  @include transform(rotate(-45deg) translate(-7px, 8px));
                  background-color: #ffc200;
                }

                &.change .line2 {
                  @include opacity(0);
                }

                &.change .line3 {
                  @include transform(rotate(45deg) translate(-5px, -5px));
                  background-color: #ffc200;
                }
              }

              .header_menu{
                position: fixed;
                height: 100%;
                width: 250px;
                background-color: #000000;
                margin: 0;
                padding: 0;
                top: 213px;
                right: -100%;
                visibility: hidden;
                @include transition(0.3s);

                &.visible{
                  visibility: visible;
                  right: 0;
                }

                .navbar-item{
                  display: block;
                  margin: 5px 10px;
                  @include transition(0.3s);
                  cursor: pointer;
                  border-bottom: 1px solid #eaeaea;

                  &:first-child{
                    border-top: 1px solid #eaeaea;
                    margin-top: 0;

                    a{
                      padding-top: 12px;
                    }
                  }

                  &:hover{
                    color: #ffc200;
                    padding-left: 20px;
                  }

                  a{
                    display: inline-block;
                    width: 100%;
                    padding: 8px 25px;
                    text-transform: uppercase;
                    color: inherit;
                  }
                }

                .navbar-item.active{
                  color: #ffc200;
                  padding-left: 20px;

                  &:hover a{
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }

      .content{
        header{
          padding: 20px 15px 0;

          .logo_header{
            .logo_header_left{
              padding: 15px 0;

              h1{
                font-size: 24px;
              }
            }
          }

          .header_menu{
            display: none;
          }
        }

        main{
          margin-top: 327px;
          .msg_container{
            .msg{
              margin-right: 16px;
            }
          }
        }
      }
    }
  }
}